{
  "plugins": [
    "meteor", "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
  },
  "extends": ["airbnb", "eslint:recommended", "plugin:meteor/recommended", "plugin:react/recommended"]
}
