milbrookCol = #503e2a
rebelCol = #3e1b07
russetCol = #804a16
chocCol = #553416

ons-page.page
  reset-font()
  background url(/5.jpg) no-repeat 0 0/cover rgba(0,0,0,.5) !important;
  width: 100%;
  height: 100%
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 0px
  overflow-x visible
  overflow-y hidden
  font-size var-font-size
  color #000
  -ms-overflow-style none
  transform translate3d(0,0,0)
  .page__background, page__content
    background-color transparent
    background transparent

.list, .list__header
  border-bottom-color rgba(255, 255, 255, 0.26)

.btn
  color: rgba(255, 255, 255, .9);
  font-size: 1.6rem;
  border-radius: 50%;
  line-height: 1.6rem;
  padding: 0px 1rem;
  margin: 0.2rem 0.1rem 0.2rem 0px;
.blueButton
    background-color: rgba(81, 52, 52, 0.35);
    border: rgba(81, 52, 52, 0.86);
.blackButton
    background-color: rgba(81, 52, 52, 0.35);
    border: rgba(81, 52, 52, 0.86);
.redButton
    background-color: rgba(255, 0, 0, 0.35);
    border: rgba(231, 23, 23, 0.86);
.imgMirror
    -moz-transform scale(-1,1)
    -o-transform scale(-1,1)
    -webkit-transform scale(-1,1)
    transform scale(-1,1)
    webkit-font-smoothing antialiased
.recordButton
  color: #fff
  border-color: transparent;
  border-radius: 0;
  background: url(/drawButton.png) no-repeat 0 0/cover;
  &.recording
    background: #5494d1 !important;
  min-height: 90px;
  small
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: .2;
.recordingIcon
  font-size: 3.5rem;
  margin-bottom: .3rem;
.mainButtonContainer
  margin-top 1rem;
  margin-bottom 1rem;
  &.right
    margin-right 1rem;
  &.left
    margin-left 1rem

.properCase
  text-transform: none !important;
.ListItem
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  width: calc(100vw - 160px)
